$font-stack: 'Ubuntu Mono', monospace;
$font-title: 'Pacifico', cursive;
$main-color: #8f6190;
$border-color: #fff;
$background-color: rgba(255, 255, 255, .5);
$font-color-main: #573358;
$font-color-secondary: #fff;
$emphasis: #fff;

html {
  background-color: $main-color;
}

// MAIN PAGE STYLES - CONTAINER STYLES
.container {
  background-color: $background-color;
  border: 5px solid $border-color;
  border-radius: 20px;
  height: 600px;
  margin: auto;
  width: 940px;
}

// LANDING PAGE STYLES - LOGIN PAGE STYLES
.login-page {
  color: $font-color-main;
  font-family: $font-stack;
}

.game-title {
  h1 {
    color: $font-color-main;
    font-family: $font-title;
    font-size: 6rem;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
    text-shadow: -4px 0 $emphasis, 0 4px $emphasis, 4px 0 $emphasis, 0 -4px $emphasis;
  }
}

.landing-div {
  div {
    margin: 10px;
    text-align: center;
  }

  a {
    color: $font-color-main;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;

    &:visited {
      color: $font-color-main;
    }

    &:hover {
      color: $emphasis;
    }
  }
}

.login-reg {
  background-color: $main-color;
  border: 4px solid $border-color;
  border-radius: 20px;
  height: 300px;
  margin: 0 auto;
  width: 400px;

  // If we ever get ngAnimate working, change above height to 10px and load down
  // .ng-hide-remove {
  //   height: 300px;
  //   transition: height .5s ease-in .0001s,
  //   width .5s ease-in .0001s;
  //   width: 400px;
  // }

  div {
    margin: 20px auto;
    width: 350px;
  }

  label {
    color: $font-color-secondary;
    font-size: 2.5rem;
  }

  input {
    color: $font-color-main;
    font-family: cursive;
    font-size: 1.5rem;
    width: 100%;
  }

  .login-reg-button {
    margin: 0 auto;

    button {
      background-color: $font-color-main;
      border: 0;
      border-radius: 5px;
      color: $font-color-secondary;
      display: block;
      font-family: $font-stack;
      font-size: 2.25rem;
      margin: auto;
      padding: 5px;

      &:hover {
        font-size: 2.75rem;
        transition: font-size .1s ease-in-out .0001s;
      }
    }
  }
}

// NAVBAR STYLES
.navbar {
  background-color: $font-color-main;
  border-radius: 10px;
  font-family: $font-stack;
  font-size: 1.5rem;
  height: 40px;
  margin: 10px;

  .username {
    color: $font-color-secondary;

  }

  ul {
    margin: 0;
    padding: 0;
  }

  .links {
    display: inline-block;
    float: right;
    margin: 3px 0;
  }

  .current-page {
    background-color: $main-color;
  }

  li {
    display: inline-block;
    margin: 5px 15px;
  }

  a {
    color: $font-color-secondary;
    letter-spacing: .01rem;
    list-style-type: none;
    text-decoration: none;
    padding: 6px;

    &:visited {
      color: $font-color-secondary;
    }
  }
}
